<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    </head>
    <body>
        <div id="app">
            {{ message }}
          </div>
          <div id="app-2">
            <span v-bind:title="message">
              Passez votre souris sur moi pendant quelques secondes
              pour voir mon titre lié dynamiquement !
            </span>
          </div>
          <div id="app-3">
            <p v-if="seen">Maintenant vous me voyez</p>
          </div>
          <div id="app-4">
            <ol>
              <li v-for="todo in todos">
                {{ todo.text }}
              </li>
            </ol>
          </div>
          <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Message retourné</button>
          </div>
          <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
            <button v-on:click="reverseMessage">Inverser</button>
          </div>
          <div id="app-7">
            <ol>
              <todo-item
              v-for="item in groceryList"
              v-bind:todo="item"
              v-bind:key="item.id"></todo-item>
            </ol>
          </div>
          <script src="TryVue.JS"></script>
    </body>
</html>
